/*
%btn{
    display: inline-block;
    border-radius: .3rem;
    padding: .7rem 1.2rem;
    margin: .1rem;

    &:hover{
        transform: scale(.98);
    }
}

.btn-primary{
    @extend %btn;
    // background-color:lighten($primary-color, 10%);
    @include set-background(lighten($primary-color, 10%))
}
.btn-secondary{
    @extend %btn;
    // background-color: $secondary-color ;
    @include set-background($secondary-color);
}


*/

$shadow: -7px -7px 20px 0 rgba(255,255,255,0.7), 7px 7px 20px 0 rgba(0,0,0,0.2);
$shadow-hover:inset -7px -7px 20px 0 rgba(255,255,255,0.7), inset 7px 7px 20px 0 rgba(0,0,0,0.2);

li{
    min-width: 130px;
    font-weight: 900;
    padding: 15px;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 1rem;
    display: inline-block;
    color: darkolivegreen;
    text-align: center;
    box-shadow: var(--shadow);
    
    &:hover{
        cursor: pointer;
        box-shadow: var(--shadow-hover);
        font-size: 0.98rem;
    }
}


/*  End of Navbar*/ 

/*  End of Container*/ 
.container{
border-top:2px solid black ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
background: var(--primary);

.neumorphism-1{
    height: 100px;
    width: 100px;
    background: var(--primary);
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    border-radius: 5px;
}
.neumorphism-2{
    // margin: 15px;
    // height: 100px;
    // width: 100px;
    background: $shadow;
    box-shadow:inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    // border-radius: 5px;
}
.neumorphism-3{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 15px;
    // height: 100px;
    // width: 100px;
    background: $shadow;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
    // border-radius: 50%;
    position: relative;

    &:after{
        content: "";
        position: absolute;
        height: 80%;
        width: 80%;
        background: transparent;
        border-radius: 50%;
        box-shadow:inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    }
}
}